* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#cabecalho {
    display: flex;
    align-items: center;
    height: 5rem;
    padding: 1rem;
}

#cabecalho, #rodape {
    background-color: #0f172a;
    color: #eee;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0.7rem;
    border-radius: 100%;
    background-color: blue;
    color: #eee;
    font-weight: bold;
    margin-right: 1rem;
}

.titulo {
    color: #eee;
    font-size: 2rem;
}

.container {
    display: flex;
    flex: 1;
    /* border: 0.2rem solid green */
}

.menu {
    /* border: .2rem solid yellow; */
    width: 15rem;
    padding: .5rem;
    background-color: #ccc;
}

.opcao {
    display: flex;
    background-color: #ddd;
    padding: .4rem;
    border-radius: .5rem;
}

.opcao:hover {
    background-color: #ccc;
    color: black;
    box-shadow: 0rem .2rem .3rem .03rem #e7e7e7;
    ;
}

.opcao:hover .icone-final {
    opacity: 1;
}

a {
    text-decoration: none;
    color: #4a4949;
}


.icone-inicial {
    /* border: .1rem solid red; */
    width: 1.5rem;
    margin-right: .3rem;
}

.rotulo {
    flex: 1;
}

.icone-final {
    /* border: .1rem solid red; */
    width: 1.5rem;
    margin-left: .3rem;
    opacity: 0;
    transition: opacity 0.3seg ease;
}

.principal {
    flex: 1;
    /* border: .2rem solid aqua; */
}

#rodape {
    /* border: 0.2rem solid blue; */
    height: 5rem;
}